<main class="h-screen w-screen bg-gradient-to-bl from-blue-500 flex flex-col justify-end md:flex-row">
  <div
    class="messages h-3/12 w-full flex flex-col space-y-5 text-white z-10 relative overflow-hidden md:h-full md:w-6/12 md:justify-center md:items-center">
    <!-- Wrapper con opacidad base -->
    <div class="absolute inset-0 opacity-40">
      <!-- Imagen animada (built-in) -->
      <img src="background.png" alt="Fondo de conexiones"
        class="w-full h-full object-cover animate-pulse motion-safe:animate-pulse" />
    </div>

    <!-- Texto encima -->
    <span class="message text-3xl font-bold ml-4 relative z-10">NeuroFile</span>
    <span class="message text-lg ml-4 relative z-10">
      Ingresa tus datos para iniciar sesión
    </span>
  </div>

  <form class="form" class="w-full h-8/12 bg-white rounded-t-2xl z-10 shadow-sm md:w-6/12 md:h-full"
    [formGroup]="loginForm">
    <div class="title w-full h-1/6 flex justify-start items-center ml-6">
      <span class="text-xl text-black font-bold">Iniciar Sesión</span>
    </div>
    <div class="inputs w-full h-2/6 flex flex-col justify-evenly items-center">
      <div class="relative w-11/12">
        <!-- Icono -->
        <span class="mb-1 absolute inset-y-0 left-3 flex items-center text-gray-400">
          <i class="pi pi-envelope"></i>
        </span>
        <!-- Input -->
        <input type="email" placeholder="Ingrese un correo" formControlName="email" class="input-base"
          [ngClass]="{'input-error': FormControlIsInvalid('email')}" />

        <!-- Mensaje de error -->
        <div *ngIf="
            FormControlNameHasError('email','required') || FormControlNameHasError('email','email')
          " class="error-message">
          El correo es obligatorio o no es válido.
        </div>
      </div>
      <div class="relative w-11/12">
        <!-- Icono -->
        <span class="absolute inset-y-1 left-3 flex items-center text-gray-400">
          <i class="pi pi pi-lock"></i>
        </span>

        <!-- Input -->
        <input type="password" placeholder="Ingrese un correo"
          class="input-base"
          formControlName="password"  
          [ngClass]="{'input-error': FormControlIsInvalid('password')}" />
        <div class="error-message" *ngIf="FormControlNameHasError('password','required')  || FormControlNameHasError('password','minlength')">
          Contraseña obligatoria (mínimo 8 caracteres).
        </div>
      </div>
    </div>

    <div class="forgot-password w-full h-1/6 flex justify-center items-center">
      <a class="text-sky-800 font-medium hover:text-sky-400 cursor-pointer">Restablecer contraseña</a>
    </div>
    <div class="login-button w-full h-2/6 flex justify-center items-center">
      <button class="w-9/12 h-14" [ngClass]="{'disabled-button': loginForm.invalid , 'primary-button cursor-pointer': !loginForm.invalid}" [disabled]="loginForm.invalid" (click)="onSubmit()">
        Iniciar Sesión
      </button>
    </div>
  </form>
</main>

<p-progressSpinner styleClass="w-16 h-16" strokeWidth="6"></p-progressSpinner>
